<div class="home-page">
    <div class="header">
        <a href="/" class="unstyled">
            <div class="brand logo">
                <div class="title">Gulliver's Guide</div>
                <div class="subtitle">to Wellington</div>
            </div>
        </a>
    </div>

    <div class="main">
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <div class="btn-section">
                <%= devise_error_messages! %>

                <div class="field">
                    <%= f.email_field :email, autofocus: true, placeholder: "Email", autocomplete: "email" %>
                </div>
        </div>

        <div class="btn-section">
            <%= f.submit "Send instructions", class: "btn" %>
        </div>
        <% end %>
    </div>
</div>
