<div class="home-page">
    <div class="header">
        <div class="brand logo">
            <div class="title">Gulliver's Guide</div>
            <div class="subtitle">to Wellington</div>
        </div>
    </div>

    <div class="pillars">
        <div class="pillar">
            <%- if Devise.mappings[:user].registerable? && controller_name != 'registrations' %>
                <p>Sign up for free and start exploring!</p>
                <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary" %>
            <% else -%>
                <p>We're not quite ready for new users yet, sorry!</p>
                <div class="btn btn-primary disabled">Sign Up</div>
            <% end -%>
        </div>

        <div class="pillar">
            <p>Already have an account?</p>
            <%= link_to "Log In", new_user_session_path, class: "btn btn-primary" %>
        </div>
    </div>

    <h2 id="more-info">What is Gulliver's Guide?</h2>

    <div class="pillars big">
        <div class="pillar">Discover your City</div>
        <div class="pillar">Go on Adventures</div>
        <div class="pillar">Earn Badges</div>
    </div>

    <p>
        Gulliver's Guide is a location-based adventure game that helps you explore the city,
        discovering hidden gems and earning rewards for completing adventures.
    </p>

    <p>
        The Guide is also completely free to play, no strings, no hidden fees and no alterior motives.
    </p>

    <p>
        It's also entirely <a href="https://github.com/timpaisley/gullivers" target="_blank">open source</a>, if you're into that kind of thing.
    </p>
</div>