<div class="home-page">
    <div class="header">
        <div class="brand logo">
            <div class="title">Gulliver's Guide</div>
            <div class="subtitle">to Wellington</div>
        </div>
    </div>

    <div class="main">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>

        <div class="card">
            <div class="content">
                <p>Gulliver's Guide is still under construction, which means we're unfortunately not accepting new explorers just yet.</p>
                <p>If you'd like to stay up to date with new developments, enter your email below and we'll keep you in the loop.</p>
            </div>
        </div>
    </div>

    <p class="btn">
        <%= link_to new_user_session_path, class: "unstyled" do %>
            If a preview account has been created for you, you can log in here.
        <% end %>
    </p>
</div>