<div class="home-page">
    <div class="header">
        <div class="brand logo">
            <div class="title">Gulliver's Guide</div>
            <div class="subtitle">to Wellington</div>
        </div>
    </div>

    <p>
        Gulliver's Guide is currently under construction, which means we're unfortunately not accepting new explorers just yet.
        If you'd like to stay up to date with new developments, enter your email below and we'll keep you in the loop.
    </p>

    <p>
        If a preview account has been created for you, you can <%= link_to "log in here.", new_user_session_path %>
    </p>
</div>