<%= javascript_include_tag "bundle" %>
<div id="elm"></div>

<script type="text/javascript">
  var elm = document.getElementById('elm');
  var flags = {token: "<%= form_authenticity_token %>"}
  Elm.Main.init({node: elm, flags: flags});
</script>