@import 'variables';

*,
*::before,
*::after { 
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

html {
    background-color: $background;
}

body {
    color: $text-color;
    font-family: 'Roboto','Helvetica Neue', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    margin: 0;
    padding: 0;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga" on;
}

a {
    text-decoration: none;
    color: inherit;
    text-decoration: underline;

    &:hover {
        color: #333;
    }
}

h1, h2, h3 {
    @include heading;
    margin: 10px 0;
    text-decoration: none;
}

svg {
    margin: 0.2rem;
}

.home-page {
    text-align: center;

    .btn-section {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .btn,
    input:not([type="checkbox"]) {
        display: block;
        border: 1px solid #696969;
        border-radius: 4px;
        padding: 10px;
        background-color: transparent;
        color: #696969;
        min-width: 200px;
        text-decoration: none;
        font-size: 1rem;
        margin: 5px 0;
        
        &:not([type="email"]):not([type="password"]) {
            text-align: center;
            text-transform: uppercase;
            font-weight: 300;
            font-size: 1.25rem;
            cursor: pointer;

            &:hover {
                color: #333;
                border-color: #333;
            }
        }
    }
    
    .pillars {
        display: flex;
        flex-wrap: wrap;
        justify-content: stretch;
        align-items: flex-end;
    
        &.big {
            font-size: 1.5rem;
            font-weight: 300;
        }
    
        .pillar {
            flex: 1;
            padding: 10px 30px;
        }
    }

    .description {
        text-align: left;
    }
}

#wrapper {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    height: 100%;
}

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    > div {
        margin-bottom: 20px;
    }

    .brand {
        flex: 3 0 auto;
        padding: 0 10px;

        .title {
            @include heading;
            color: $highlight;
            font-size: 1.2rem;
            font-weight: 600;
        }

        .subtitle {
            font-size: 0.8rem;
            opacity: 0.8;
        }

        &.logo {
            .title {
                @include heading;
                color: $text-color;
                font-family: 'Dancing Script', cursive;
                font-size: 3rem;
                font-weight: 600;
                line-height: 2.5rem;
                padding-top: 10px;
            }
    
            .subtitle {
                color: $highlight;
                font-weight: 600;
                font-style: italic;
                padding-left: 20px;
                font-size: 1.5rem;
            }
        }
    }
}

.footer {
    margin: 20px;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    font-size: 0.8rem;

    div {
        margin-bottom: 10px;

        &:not(:first-child) {
            margin-left: 30px;
        }
    }
}

.vertical-bar {
    flex: 1 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: stretch;

    .section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 10px;

        &.main {
            flex: 1;
        }

        &.icon {
            flex-direction: row;
            align-items: center;
            font-size: 0.8rem;

            user-select: none;
            cursor: pointer;
        }

        .title {
            @include heading;
            text-align: center;
        }

        .subtitle {
            font-size: 0.8rem;
            opacity: 0.5;
        }
    }
}

.toggle-section {
    display: flex;
    justify-content: flex-end;
    align-items: stretch;
    margin: 10px 0;

    .section {
        margin: 0 5px;
        padding: 10px;
        font-size: 0.8rem;
        border-radius: 5px;

        cursor: pointer;
        user-select: none;

        opacity: 0.5;

        &.selected {
            opacity: 1;
            color: white;
            background-color: $text-color;
        }
    }
}

.action-button {
    margin: 20px;
    padding: 30px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    color: white;
}

#adventure-map-screen {
    display: flex;
    flex-direction: column;
    height: 100%;

    > div {
        flex: 0 0 auto;
    }

    .header {
        margin-left: 0;
        margin-right: 0;
    }

    #map {
        flex: 1 0 auto;
        border-top-left-radius: 0.25rem;
        border-top-right-radius: 0.25rem;
        background-position: center center;
        background-size: cover;
    }

    #locations {
        height: 40%;
        background-color: rgba(255, 255, 255, 0.1);
        display: flex;

        border-bottom-left-radius: 0.25rem;
        border-bottom-right-radius: 0.25rem;
        box-shadow: 0 20px 40px -14px rgba(0,0,0,0.25);

        .content {
            flex: 1 1 auto;

            .description {
                overflow: auto;
            }
        }
    }
}

.content {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    padding: 1rem;

    .title {
        @include heading;
        font-size: 1.2rem;
        text-align: left;
    }

    .subtitle {
        @include heading;
        font-size: 0.8rem;
        opacity: 0.8;
    }

    .description {
        flex: 1 1 auto;
        font-size: 0.875rem;
        line-height: 1.5;
    }

    .information {
        display: flex;
        justify-content: space-between;
        font-size: 0.8rem;
        opacity: 0.5;
    }

    .buttons {
        flex: 0 0 auto;
        display: flex;
        justify-content: stretch;
        font-size: 0.8rem;

        a {
            flex: 1;
            padding: 10px;
            text-decoration: none;
            border: 1px solid $highlight;
            color: $highlight;
            text-align: center;
            margin: 0 5px;

            &.disabled {
                opacity: 0.2;
                cursor: default;
            }
        }
    }
}

.indicators {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px 10px 20px;

    .indicator {
        width: 8px;
        height: 8px;
        margin: 0 5px;
        border: 1px solid $highlight;
        border-radius: 50%;

        &.active {
            background-color: $highlight;
        }
    }
}

.progress-bar {
    height: 5px;
    background-color: $background;
    position: relative;

    .fill {
        position: absolute;
        height: 100%;
        left: 0;
        background-color: $highlight;
    }
}