@import 'variables';

*,
*::before,
*::after { 
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

html {
    background-color: $background;
}

body {
    color: $text-color;
    font-family: 'Roboto','Helvetica Neue', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    margin: 0;
    padding: 0;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga" on;
}

#wrapper {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    height: 100%;
}

a {
    color: inherit;
    opacity: 0.8;

    &.unstyled {
        text-decoration: none;
    }

    &:hover {
        opacity: 1;
    }
}

svg {
    margin: 0.2rem;
}

// ==============
// HORIZONTAL BAR
// ==============

.horizontal-bar {
    flex: 1 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &.align-end {
        align-items: flex-end;
    }

    &.small {
        font-size: 0.8rem;
        opacity: 0.5;
    }

    &.wrap {
        flex-wrap: wrap;

        > .section {
            margin-bottom: 10px;
        }
    }

    &.margins {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }

    .section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 0 10px;

        &:first-child,
        &:last-child {
            padding: 0;
        }

        &.main {
            flex: 1;
        }

        &.icon {
            flex-direction: row;
            align-items: center;
            font-size: 0.8rem;
            text-transform: uppercase;

            user-select: none;
            cursor: pointer;
        }

        .title {
            @include heading;
            text-align: center;
        }

        .subtitle {
            @include sub-heading;
        }
    }
}

// ============
// LANDING PAGE
// ============

.landing-page {
    &:before {
        content: "";
        position: fixed;
        left: 0;
        right: 0;
        height: 100%;
        z-index: -1;
        display: block;

        background-image: image-url('home-bg.jpg');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        filter: blur(20px);
    }
}

.alert,
.notice {
    color: white;
    font-weight: 700;
}

.home-page {
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100%;

    .main {
        flex: 1 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .field {
        display: flex;
        align-items: center;
    }

    .btn-section {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .btn {
        background: transparent;
        border: none;
        font-size: 0.8rem;
        text-transform: uppercase;
        color: white;
        font-weight: 700;
        text-decoration: none;
        opacity: 0.8;
        cursor: pointer;

        &:hover {
            opacity: 1;
        }

        &.small {
            opacity: 0.6;
        }
    }

    input:not([type="checkbox"]):not([type="submit"]) {
        display: block;
        border: none;
        border-radius: 4px;
        box-shadow: 0 20px 40px -14px rgba(0,0,0,0.25);
        padding: 10px;
        background-color: white;
        color: #696969;
        min-width: 200px;
        text-decoration: none;
        font-size: 0.8rem;
        margin: 5px 0;
    }
}

// ===========
// APPLICATION
// ===========

.header {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;

    .section,
    .horizontal-bar {
        margin-left: 0;
        margin-right: 0;
    }

    .brand {
        padding: 0 10px;

        .title {
            @include heading;
            color: $highlight;
            font-size: 1.2rem;
            font-weight: 600;
        }

        .subtitle {
            font-size: 0.8rem;
            opacity: 0.8;
        }

        &.logo {
            position: relative;
            align-items: center;
            width: 340px;

            .title {
                @include heading;
                color: $gullivers-green;
                font-family: 'Dancing Script', cursive;
                font-size: 3rem;
                font-weight: 600;
                line-height: 2.5rem;
                padding-top: 10px;
            }
    
            .subtitle {
                color: $highlight;
                font-weight: 300;
                font-size: 1.5rem;
                opacity: 1;
            }
        }
    }
}

.footer {
    margin: 20px;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    font-size: 0.8rem;

    div {
        margin-bottom: 10px;

        &:not(:first-child) {
            margin-left: 30px;
        }
    }
}

.toggle-section {
    display: flex;
    justify-content: flex-end;
    align-items: stretch;

    .section {
        margin: 5px;
        padding: 10px;
        font-size: 0.8rem;
        border-radius: 5px;

        cursor: pointer;
        user-select: none;

        opacity: 0.5;

        &.selected {
            opacity: 1;
            color: white;
            background-color: $text-color;
        }
    }
}

.action-button {
    margin: 20px;
    padding: 30px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    color: white;
}

#adventure-map-screen {
    .horizontal-bar {
        position: absolute;
        left: 0;
        right: 0;
        z-index: 100;
        padding: 10px;
        background-color: white;
        
        &.top {
            top: 0;
        }

        &.bottom {
            margin: 10px;
            bottom: 0;
            border-radius: 0.25rem;
            box-shadow: 0 20px 40px -14px rgba(0,0,0,0.25);

            .main {
                align-items: center;
            }
        }
    }

    #info-toggle {
        position: absolute;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        background-color: white;
        box-shadow: 0 20px 40px -14px rgba(0,0,0,0.25);

        left: calc(50% - 20px);
        bottom: 80px;

        display: flex;
        justify-content: center;
        align-items: center;

        user-select: none;
        cursor: pointer;
        z-index: 100;
    }

    .info-box {
        position: absolute;
        top: 90px;
        bottom: 90px;
        padding: 10px;
        margin: 10px;
        border-radius: 4px;
        background-color: white;
        box-shadow: 0 20px 40px -14px rgba(0,0,0,0.25);
    }

    #map {
        position: absolute;
        width: 100%;
        height: 100%;
    }
}

.content {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    padding: 1rem;

    .title {
        @include heading;
        font-size: 1.2rem;
        text-align: left;
    }

    .subtitle {
        @include sub-heading;
        font-size: 0.8rem;
        opacity: 0.8;
    }

    .description {
        flex: 1 1 auto;
        font-size: 0.875rem;
        line-height: 1.5;
    }

    .information {
        display: flex;
        justify-content: space-between;
        font-size: 0.8rem;
        opacity: 0.5;
    }

    .buttons {
        flex: 0 0 auto;
        display: flex;
        justify-content: stretch;
        font-size: 0.8rem;

        a {
            flex: 1;
            padding: 10px;
            text-decoration: none;
            border: 1px solid $highlight;
            color: $highlight;
            text-align: center;
            margin: 0 5px;

            &.disabled {
                opacity: 0.2;
                cursor: default;
            }
        }
    }
}

.indicators {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0 10px 0;

    .indicator {
        width: 8px;
        height: 8px;
        margin: 0 5px;
        border: 1px solid $highlight;
        border-radius: 50%;

        &.active {
            background-color: $highlight;
        }
    }
}

.progress-bar {
    height: 5px;
    background-color: $background;
    position: relative;

    .fill {
        position: absolute;
        height: 100%;
        left: 0;
        background-color: $highlight;
    }
}

.explorer-icon {
    border: 1px solid $highlight;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}