$gullivers-green: #417505;
$highlight: #696969;
$text-color: #696969;
$background: #f0f0f0;

// $highlight: #ffcc00;
// $text-color: #ffffff;
// $background: #3c3c3b;

@mixin heading {
    font-family: 'Helvetica', sans-serif;
    color: $gullivers-green;
    font-size: 1.2rem;
    opacity: 1;
    margin: 0;
    font-weight: 300;
}

@mixin sub-heading {
    font-family: 'Helvetica', sans-serif;
    color: $text-color;
    font-size: 0.8rem;
    opacity: 0.8;
    margin: 0;
    font-weight: 300;
}