<%= javascript_include_tag "bundle" %>
<div id="wrapper"></div>

<script type="text/javascript">
  var div = document.getElementById('wrapper');
  Elm.Main.init({node: div});
</script>

<% Location.all.each do |location| %>
  <img src="<%= location.image_url %>" />
  <div><%= location.name %></div>
  <div><%= location.description %></div>
<% end %>